* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  height: auto;
  width: 100%;
  margin: 0 auto;
}

main {
  background-image: url("../img/tuuli.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  max-width: 90%;
  margin: 0 auto;
}

/*
================
 Image slider
===============
*/

.slider-container {
  position: relative;
  width: 90%;
  height: 60vh;

  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  align-items: center;
}

.slide h2 {
  position: absolute;
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 8px black;
}

.slide-img {
  height: 80%;
  width: 60%;
  box-shadow: 0 0 30px rgb(39, 58, 68);
  border-radius: 30px;
  object-fit: cover;
}

.btn-container {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon {
  height: 24px;
  width: 24px;
}

.btn-left {
  left: 10%;
}

.btn-right {
  right: 10%;
}

/*
====================
Kysymykset
====================
*/

/* Kysymyksen takana oleva background*/
.kysymykset {

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  width: 70%;
  height: auto;
  padding:2rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px rgb(27, 53, 39); 

}

.title {
  margin-top: 2vh;
  margin-bottom: 4rem;
}

.title h2 {
  color: rgb(0, 0, 0);
  font-size: 3.5rem;
  text-align: center;
}

/**/
.kysymys-center {
  width: 30vw;
  margin: 0 auto;
  
  
}

/* Tämä on box jossa on tieto ja nappi*/
.kysymys {
  background: rgba(252, 252, 252, 0.6);
  box-shadow: 0 0 10px rgb(82, 80, 80);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 1rem;
}

/* Määrittää kysymyksen ja napin paikan boxin sisällä*/
.kysymys-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.kysymys-title h3 {
  font-size: 2rem;
}

.kysymys-btn {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;

}

.kysymys-vastaus {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid black;
}




/* Nämä ovat javascriptiä varten */

.minus-icon {
  display: none;
}

.kysymys-vastaus {
  display: none;
}

.show-text .minus-icon {
  display: inline;
}

.show-text .kysymys-vastaus {
  display: block;
}

.show-text .plus-icon {
  display: none;
}


/*
==============
modal window
================
*/

.modal-container {
  
  border-radius: 20px;
  width: 70%;
  height: 800px;
  padding:2rem;
  margin: 60px auto;
  

}

.modal-title {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-size: 4rem;
  text-shadow: 0 0 10px black;
}

.modals {
  position: relative;
  height: 600px;
  /*
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 30px rgb(231, 250, 240); 
  */
  

}

.modal {
  text-align: center;
}

.modal1 {
  position: absolute;
  top: 0;
  left: 35%;
  
}
.modal2 {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.modal3 {
  position: absolute;
  top: 45%;
  left:70%;
}
.modal button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  color: white;
  border: transparent;
  box-shadow: 0 0 30px rgb(238, 233, 233);
}
.modal h1 {
  color: white;
  text-shadow: 0 0 10px rgb(79, 196, 33);
  margin: 0 0 20px 0;
}

.icon {
  color: white;
  font-size: 10px;
}

.modal-box {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: -40%;
  left: 25%;
  width: 50%;
  padding: 2rem;
  z-index: 8;
  border-radius: 30px;
  box-shadow: 0 0 7px white;

}

.modal-box h1{
  margin-bottom: 10px;

}

.close-modal {
  float: right;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 3rem;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  z-index: 5;
  
}

.hidden {
  display: none;
}




@media screen and (max-width: 502px) {
  

  
  .slider-container {
    width: 100%;
    height: 50vh;

  }

  .slide {
    height: 97%;
    
  }

  .slide h2 {
    font-size: 1.9rem;
  }

  .slide-img {
    width: 100%;
    height: 100%;
    border-radius: 1px;
  }

  .btn-container {
    height: 24px;
    width: 24px;
  }

  .btn-icon {
    height: 18px;
    width: 18px;
  }

  .btn-left {
    left: 5%;
  }
  .btn-right {
    right: 5%;
  }

  /*
  ============
  kysymykset
  ============
  */

  .kysymykset {
    width: 100%;
    border-radius: 1px;
    box-shadow: 0 10px 9px black;
  }

  .title h2 {
    font-size: 2rem;
  }

  .kysymys-title h3 {
    font-size: 1.5rem;
    
  }

  .kysymys-center {
    width: 60vw;
  }


  /*
  =========
  Modal
  ========
  */

  .modal-container {
    
  }

  .modal-title {
    font-size: 2rem;
  }

  .modal button {
    width: 50px;
    height: 50px;
  }

  .modal h1 {

    font-size: 1.3rem;

  }

  .modal3 {
    left: 50%;
  }


  .modal-box {
    bottom: -200%;
    width: 100%;
    left:0;

    
  }

  .overlay {
    
    height: 2000px;
  }


  

}